body
  font-family "微軟正黑體" 
  font-size 20px

li
  color blue

#header
  background-color black
  color white
  height 40px
  width 100%
  font-size 20px
  line-height 40px

.red
  color red

[type="text"]
  background yellow

#header:hover
  box-shadow 4px 4px 3px rgba(20%,20%,40%,0.5)

li:nth-child(2)
  font-weight bold

div
  div
    color #07cd3e
    div
      color #fcb20d

ol, button
  border 1px solid red

#ani
  background-color #666666
  width 0px
  height 0px
// vi:et:nowrap:sw=2:sts=2
