doctype html
html
  head 
    title Example 
    meta(charset='utf-8')
    link(rel='stylesheet', href='app.css')
  body
    #header Web example
    input(type='text')
    img(src='res/000.png')
    a(target='_blank', href='http://mbi.ee.ncku.edu.tw')
    button Push me!
    #ani
    #show
    ol
      li 1. dirty is <span class='red'>handsome</span>.
      li 2. I'm dirty, but I'm not dirty.
      li 3. If you can't explain it simply, you don't <span class='red'>understand it well enough</span>. 
    div # layer 1 
      div # layer 2
        div # layer 3
    script(src='app.js')

//- vi:et:nowrap:sw=2:ts=2
